/* =======================================
============== MAIN POINTS ===============
========================================== */

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-content {
  max-width: 1200px;
  margin: auto;
}

/* =======================================
============== HEADER ===============
========================================== */

.main-header {
  text-align: center;
  padding: 2rem;
}

/* =======================================
============== Select Area ===============
========================================== */

.select-button {
  display: flex;
  justify-content: center;
}

.select-value {
  padding: 0rem 2rem 0rem 2rem;
}

/* =======================================
============== Outcome area ===============
========================================== */

.split {
  display: flex;
}

.column {
  flex: 50%;
  text-align: center;
}

/* =======================================
============== Time Input ===============
========================================== */

.timeInput {
  width: 107px;
  border: 2px solid rgb(102, 102, 102);
  font-size: 42px;
  width: 110px !important;
  color: rgb(51, 51, 51);
  border-radius: 3px;
}

/* =======================================
============== Box Points ===============
========================================== */

.box {
  float: left;
  width: 25px;
  height: 25px;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.work-box {
  background: #ae163e;
}

.study-box {
  background: yellow;
}

.learning-box {
  background: purple;
}

/* 
.completebutton
/* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px; */